src/main/mule/git-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4480984c-56fb-46c2-a3cc-41d8f5896086" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-demoFlow" doc:id="3d190055-780c-4264-bf15-76ffd57f3e38" >
		<http:listener doc:name="Listener" doc:id="80dc6d52-2488-433a-a560-649e794d3492" config-ref="HTTP_Listener_config" path="/12"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="aa68ce46-f701-4b53-bbce-5adbc9180806" />
	</flow>
</mule>
